/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya', serif;
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #000000;
/* 	background: #e6e6e6; */
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #f36363;
	text-decoration: none;
}

a:visited {
/* 	color: purple; */
}

a:hover, a:focus, a:active {
	color: #f36363;
	font-weight: bold;
	text-decoration: underline;
}

a:focus {
/* 	outline: thin dotted; */
}

a:hover, a:active {
	outline: 0;
	text-decoration: underline;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Custom Silk Roads Styling
--------------------------------------------------------------*/

/* Global */

.site {
	margin: 0 auto 0 auto;
	width: 900px;
/*
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
*/
}

.site-header {
	width: 100%;
	background-color: #f05555;
}

.site-logo {
	margin: 13px auto 13px auto;
	width: 144px;
	line-height: 0;
}

.site-title {
	min-height: 30px;
	background-color: #c84141;
	padding: 9px 0;
	margin: 0;
}

.site-title h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #f7aaaa;
	text-align: center;
	margin: 0;
	font-weight: 400;
}

.site-title h1 span.header-item:not(:last-child):after {
	content: " | "
}

.site-title span.header-item a {
	color: #f7aaaa;
	text-decoration: none;
}

.site-title span.header-item a:hover {
	font-weight: 400;
	text-decoration: underline;
}

.main-navigation {
	padding: 24px 0 18px 0;
	background-color: white;
}

.main-navigation ul.nav-menu {
	text-align: center;
}

.main-navigation ul.nav-menu li {
	display: inline-block;
	float: none;
	font-family: 'Alegreya', serif;
	font-size: 17px;
	line-height: 17px;
}

.main-navigation ul.nav-menu li:not(:last-child):after {
	content: "|";
	position: relative;
	color: #333333;
	padding-left: 8px; 
}

.main-navigation ul.nav-menu li.current-menu-item a {
	font-weight: 700;
}

.main-navigation ul.nav-menu li a {
	display: inherit;
}

.main-navigation ul.nav-menu li a:hover {
	text-decoration: underline;
}

.site-content {
	background-color: white;
	padding: 0px 75px;
}

.site-main .entry-content {
	font-family: 'Alegreya', serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	color: #333333;
	margin: 0;
}

.site-main .entry-content span {
	font-weight: 700;
}

.site-main h1.entry-title, .site-main h1.page-title {
	text-align: center;
	font-family: 'Alegreya', serif;
	font-size: 30px;
	font-weight: 400;
	color: #666666;
	line-height: 30px;
}

.site-main .entry-content p {
	margin: 0;
}

.site-main .entry-content p:not(:first-child) {
	text-indent: 20px;	
}

.site-main .hentry {
	margin: 0;
}

.site-footer {
	background-color: white;
	padding: 50px 0 50px 0;
}

.site-info {
	text-align: center;
}

.footer-header {
	font-family: 'Alegreya', serif;
	font-size: 30px;
	font-weight: 400;
	color: #666666;
	line-height: 30px;
	margin-bottom: 10px;
}

.footer-contact-name, .footer-address p, .footer-email {
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #787878;
	margin: 0;
}

.footer-email a:hover {
	font-weight: 400;
	text-decoration: underline;	
}

.entry-footer {
	display: none;
}

/* Home page */
.email-subscribe, .book-list {
	margin-top: 30px;
}

.book-section-title, .email-subscribe h2 {
	text-align: center;
	font-family: 'Alegreya', serif;
	font-size: 30px;
	font-weight: 400;
	color: #666666;
	line-height: 30px;
	margin-bottom: 20px;
}

.email-subscribe {
	text-align: center;
}

.email-subscribe input[type="email"] {
	width: 75%;
	text-align: center;
}

.email-subscribe input[type="submit"] {
	background-color: #f36363;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
}

.email-subscribe input[type="submit"]:hover {
	text-decoration: underline;
	background-color: #666666;
}

.book-item-container:nth-child(odd) {
	width: 50%;
	float: left;
}

.book-item-container:nth-child(even) {
	width: 50%;
	float: right;
}

.book-item {
	max-width: 90%;
    margin: 0 auto 0 auto;
    text-align: center; 
}

img.book-item-image {
	border: 1px solid #999999;
	margin-bottom: 12px;
}

.book-item-title, .book-item-editors, .book-item-info, .book-item-url {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #787878;
}

.book-item-title, .book-item-editors, .book-item-info {
	margin: 0;
}

.book-item-url {
	margin: 4px 0 0 0;
}

.book-item-url a:hover {
	font-weight: 400;
	text-decoration: underline;
}

/* Book Pages */
.tab {
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e6e6e6;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 12px;
    min-width: 100px;
    margin-top: 10px;
}

.tab button:hover {
    background-color: #666666;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.book-cover-image {
	float: left;
}

.book-cover-image img {
	border: 1px solid #999999;
	margin: 0 12px 12px 0;
}

.book-editors, .book-info, .book-description {
	margin: 0 0 15px 0;
}

.book-editors span, .book-info span {
	font-weight: 700;
}

.book-url-link {
	margin: 15px auto 15px auto;
	width: 200px;
}

.book-url {
	background-color: #f36363;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
}

.book-url:hover {
	text-decoration: underline;
	background-color: #666666;
}

.book-table-of-contents h4 {
	margin: 0;	
}

.book-table-of-contents ul, .book-supplementary-texts ul {
	margin: 0 0 20px 0;
}

.site-main .entry-content .book-table-of-contents p, .site-main .entry-content .book-table-of-contents p:not(:first-child), .site-main .entry-content .book-supplementary-texts p, .site-main .entry-content .book-supplementary-texts p:not(:first-child) {
	text-indent: 0px;
	margin-bottom: 20px;	
}

/* Contact Page */
.page-template-page-contact .site-main .entry-content {
	text-align: center;
}

.page-template-page-contact .site-main .entry-content p:not(:first-child) {
	text-indent: 0;	
}

input.wpcf7-text  {
	width: 100%;
}

input.wpcf7-submit {
	background-color: #f36363;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    margin: 20px 0 0 0;
}

input.wpcf7-submit:hover {
	text-decoration: underline;
	background-color: #666666;
}

.wpcf7-recaptcha div {
	margin: 0 auto;
}

/* Bios Pages */
.bio-picture {
	float: left;
}

.bio-picture img {
	border: 1px solid #999999;
	margin: 0 12px 12px 0;
}

.bio-title h2 {
	clear: none;
	margin-top: 0;
}

.site-main .entry-content .bio-title p, .site-main .entry-content .bio-title p:not(:first-child) {
	text-indent: 0px;	
}

.bio-education ul, .bio-publications ul {
	margin: 0;
}

/*--------------------------------------------------------------
## Custom Silk Roads Responsive Styling
--------------------------------------------------------------*/

@media only screen and (max-width: 650px) {
	
	.site {
		margin: 0;
		width: 100%;
		border-right: none;
		border-left: none;
		box-shadow: none;
	}
	
	.site-content {
		padding: 0px 5%;
	}
} 

@media only screen and (max-width: 599px) {
	
	.main-navigation {
		padding: 5px 0 5px 0;
		background-color: #e6e6e6;
	}
	
	.main-navigation.toggled {
		padding-bottom: 0;
	}
	
	.main-navigation i.fa.fa-bars {
		font-size: 32px;
		line-height: 32px;
	}
	
	.main-navigation button {
		border: none;
		outline: none;
	}
	
	.main-navigation ul.nav-menu {
		margin-top: 7px;
	}
	
	.main-navigation ul.nav-menu li {
		display: block;
		font-size: 20px;
		line-height: 27px;
		padding: 10px 0;
		border-top: 1px solid #999999;
	}
	
	.main-navigation ul.nav-menu li:not(:last-child):after {
		display: none;
	}
	
	.site-content {
		padding-top: 20px;
	}
} 

@media only screen and (max-width: 480px) {
	
	.site-title h1 {
		font-size: 17px;
		line-height: 24px;
	}
	
	.site-title h1 span.header-item {
		width: 100%;
	}

	.site-title h1 span.header-item {
		display: table;
	}
	
	.site-title h1 span.header-item:not(:last-child):after {
		content: "";
	}
	
	.book-item-container:nth-child(odd) {
		width: 100%;
		float: none;
		padding: 0 0 0 0;
		margin-bottom: 20px;
		text-align: center;
	}

	.book-item-container:nth-child(even) {
		width: 100%;
		float: none;
		padding: 0 0 0 0;
		margin-bottom: 20px;
		text-align: center;
	}
	
	.book-item-title, .book-item-editors, .book-item-info, .book-item-url {
	font-size: 17px;
	line-height: 24px;
	}
	
	.footer-contact-name, .footer-address p, .footer-email {
		font-size: 17px;
		line-height: 24px;
	}
	
	.book-cover-image {
		width: 25%;
		margin-right: 20px;
	}
	
} 

@media only screen and (max-width: 400px) {
	
	.bio-picture {
		float: none;
		text-align: center;
	}
	
	.bio-picture img {
		border: 1px solid #999999;
		margin: 0;
	}
	
	.bio-title h2 {
		clear: both;
		margin-top: 20px;
	}
		
}